@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --dark-cyan: #19a2ae;
    --very-dark-blue: #2d3248;
    --dark-grayish-blue: #6a6f81;
    --dark-gray: #969696;

    --font-kumbh-sans: 'Kumbh Sans', sans-serif;
}

body{
    background-color: var(--dark-cyan);
    background-image: 
        url(/images/bg-pattern-top.svg),
        url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: -90% 160%, 180% -95%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: var(--font-kumbh-sans);
}

.container-principal{
    background-color: #ffffff;
    border-radius: 15px;
    width: 350px;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/images/bg-pattern-card.svg);
    background-position: top;
    background-repeat: no-repeat;
}

.img-fundo{
    height: 140px;
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linha-horizontal{
    width: 350px;
    margin-bottom: 27px;
    border: 0 solid;
}

.linha-horizontal hr{
    border-width: 1px;
    border-color: #6a6f812c;
    opacity: 0.5;
}

.img-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
}

.img-perfil img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid #ffff;
    border-radius: 50%;
    position: fixed;
}

.informacoes{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 25px;
}

.titulo{
    font-size: 1.2em;
    font-weight: 700;
    color: var(--very-dark-blue);
    margin-bottom: 14px;
    margin-top: 27px;
    padding-top: 10px;
}

.informacoes h1{
    
}

.titulo span{
    font-size: 1em;
    font-weight: 400;
    color: var(--dark-grayish-blue);
    padding-left: 6px;
}

.paragrafo-informacoes{
    color: var(--dark-grayish-blue);
    font-size: 0.8em;
    font-weight: 400;
}

.dados{
    margin-bottom: 26px;
}

.dados .lista{
    display: flex;
}

.dados .lista li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.dados .lista li h2{
    font-family: var(--font-kumbh-sans);
    font-weight: 700;
    font-size: 1.2em;
    color: var(--very-dark-blue);
    display: flex;
    justify-content: space-between;
}

.dados .lista li p{
    font-size: 0.7em;
    color: var(--dark-grayish-blue);
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
}



