@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --fonte-lexend: 'Lexend Deca', sans-serif;
    --fonte-big: 'Big Shoulders Display', cursive;
    --cor-card-1: #e38826; 
    --cor-card-2: #006970;
    --cor-card-3: #004241;
    --cor-paragrafo: rgba(255, 255, 255, 0.75);
    --cor-body: #f2f2f2;
}

body{
    background-color: var(--cor-body);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: var(--fonte-lexend);
    font-size: 15px;
    font-weight: normal;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 920px;
    max-height: 500px;
}

.card-1{
    background-color: var(--cor-card-1);
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
}

.card-1 .info-card{
    width: 100%;
    max-width: 306px;
    height: 100%;
    padding: 46px 28px;
}

.card-1 .info-card img{
    margin-bottom: 40px;
    padding-left: 46px;
}

.card-1 .info-card h1{
    padding-left: 46px;
    text-transform: uppercase;
    font-family: var(--fonte-big);
    font-size: 2em;
    font-weight: bold;
    color: var(--cor-body);
    margin-bottom: 38px;
}

.card-1 .info-card p{
    padding-left: 46px;
    color: var(--cor-paragrafo);
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 85px;
    line-height: 1.8em;
    letter-spacing: 0.5px;
}

.card-1 .info-card .btn-card-1{
    padding-left: 46px;
}

.card-1 .info-card button{
    color: var(--cor-card-1);
    cursor: pointer;
    border: none;
    border-radius: 2em;
    padding: 0 40px;
    height: 48px;
    line-height: 20px;
    transition: 0.3s;
}

.card-1 .info-card button:hover{
    background-color: #966023be;
    color: var(--cor-paragrafo);
}

.card-2{
    background-color: var(--cor-card-2);
    width: 100%;
    height: 100%;
}

.card-2 .info-card{
    width: 100%;
    max-width: 306px;
    height: 100%;
    padding: 46px 28px;
}

.card-2 .info-card img{
    margin-bottom: 40px;
    padding-left: 46px;
}

.card-2 .info-card h1{
    padding-left: 46px;
    text-transform: uppercase;
    font-family: var(--fonte-big);
    font-size: 2em;
    font-weight: bold;
    color: var(--cor-body);
    margin-bottom: 38px;
}

.card-2 .info-card p{
    padding-left: 46px;
    color: var(--cor-paragrafo);
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 85px;
    line-height: 1.8em;
    letter-spacing: 0.5px;
}

.card-2 .info-card .btn-card-2{
    padding-left: 46px;
}

.card-2 .info-card button{
    color: var(--cor-card-2);
    cursor: pointer;
    border: none;
    border-radius: 2em;
    padding: 0 40px;
    height: 48px;
    line-height: 20px;
    transition: 0.3s;
}

.card-2 .info-card button:hover{
    background-color: #123c3fab;
    color: var(--cor-paragrafo);
}

.card-3{
    background-color: var(--cor-card-3);
    width: 100%;
    height: 100%;
    border-radius: 0 0.5em 0.5em 0;
}

.card-3 .info-card{
    width: 100%;
    max-width: 306px;
    height: 100%;
    padding: 46px 28px;
}

.card-3 .info-card img{
    margin-bottom: 40px;
    padding-left: 46px;
}

.card-3 .info-card h1{
    padding-left: 46px;
    text-transform: uppercase;
    font-family: var(--fonte-big);
    font-size: 2em;
    font-weight: bold;
    color: var(--cor-body);
    margin-bottom: 38px;
}

.card-3 .info-card p{
    padding-left: 46px;
    color: var(--cor-paragrafo);
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 85px;
    line-height: 1.8em;
    letter-spacing: 0.5px;
}

.card-3 .info-card .btn-card-3{
    padding-left: 46px;
}

.card-3 .info-card button{
    color: var(--cor-card-3);
    cursor: pointer;
    border: none;
    border-radius: 2em;
    padding: 0 40px;
    height: 48px;
    line-height: 20px;
    transition: 0.3s;
}

.card-3 .info-card button:hover{
    background-color: #092020b2;
    color: var(--cor-paragrafo);
}
